{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h1 class="text-center mb-5">Your Cart is Empty </h1>
  <div class="col-sm-12">
  <div class="card">
   <div class="card-body">
      
    <div class="row">                                           
                                                <!--yaha hum cart se pahle product me gaye then uska product_image field ka use karke image fetch kiye  -->
     <div class="col-sm-12 text-center  align-self-center"><img src="{%static 'app\images\emptycart.png'%}" class="img-fluid img-thumbnail shadow-sm" height="250" width="250"> </div>
     
     
    </div>

   
   
   </div>
   </div>
  </div>

 </div>
</div>

{% endblock main-content %}